.movie-game-container {
    max-width: 800px;
    width: 100%;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
    box-sizing: border-box;
  }
  
  @media (min-width: 769px) {
    .movie-game-container {
      margin-left: 290px;
      margin-right: auto;
    }
  }
  
  .movie-game-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 24px;
    margin-bottom: 20px;
    margin-top: 90px;
  }
  
  @media (max-width: 1300px) {
    .movie-game-container {
      margin: 50px auto;
      padding: 0 20px;
    }
  
    .movie-game-card {
      margin-left: 0;
    }
  }
  
  @media (max-width: 768px) {
    .movie-game-container {
      margin: 80px auto 0;
      padding: 0 20px;
    }
    
    .movie-game-card {
      margin-top: 80px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1000px) {
    .movie-game-container {
      margin-left: 40px;
      margin-right: 20px;
      width: calc(100% - 50px);
    }
  }